@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  background: #121212;
  color: #333;
  font-family: "Nunito";
  margin: 0px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.content {
  max-width: 100%;
  /* height: 100vh; */
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
  background-color: #121212;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  color: #ffffff;
  box-shadow: none !important;
  background-color: #121212 !important;
  background-image: none !important;
}
nav .MuiContainer-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2px 0 2px;
  margin-top: 2rem;
  border: 4px solid black;
  background-color: #121212 !important;
  border-radius: 10px;
  background-image: none !important;
}
nav div {
  gap: 12px;
}
nav div a {
  text-decoration: none;
  color: inherit;
}

nav .header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
}
.header .logo_and_name {
  display: flex;
  align-items: center;
}
.logo_icon {
  transition: all 0.2s ease-in-out;
}
.logo_icon:hover {
  transform: scale(1.1);
}

.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

/* FOOTER CSS */
.footer-container {
  border: 4px solid black;
  border-radius: 8px;
  margin: 1rem 0;
}
footer {
  display: block;
  text-align: center;

  background-color: #121212;
  color: #fff;
  box-shadow: none;
}

.race_icon {
  animation: raceAnimation 2s infinite;
  transition: transform 0.1s ease;
}

@keyframes raceAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

/*Toggle Button */
.toggleButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobileHeader {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobileHeaderDrawer {
  background-image: none !important;
}
.buttonDrawer {
  position: relative;
  left: 0.65rem;
}

#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.zipper {
  position: relative;
  width: 0;
  height: 100%;
  background-color: #121212;
  overflow: hidden;
  animation: unzip 0.5s forwards;
}

.zip-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #000;
  left: 50%;
  transform: translateX(-50%);
}

.zip-puller {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  animation: movePuller 0.5s forwards;
}

@keyframes unzip {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
