.tetrisBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 0;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

.gameContainer {
  height: 100%;
  display: flex;
  position: relative;
}

.gameCanvas {
  border: 1px solid black;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
}

.controls {
  margin-top: 20px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls button {
  margin: 0 10px;
}
.buttonTetris {
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  width: 100px;
}

.buttonTetris:hover {
  background-color: #ccc;
}

.buttonTetris :disabled {
  background-color: #555;
  cursor: not-allowed;
}
.scoreDisplay {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #222;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}
