.tetrisBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

.gameContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameCanvas {
  border: 1px solid #fff;
  height: 80%;
}

.controls {
  margin-top: 20px;
}

.controls button {
  margin: 0 10px;
}
